<%- include("./header") %>
<nav>
    <a href="/">Home</a>
    |
    <a href="/teams">Teams</a>
    |
    <a href="/">Create</a>
    |
    <a href="/">My Teams</a>
    |
    <a href="/">Log Out</a>
</nav>
<h3><%= title %></h3>