<%- include("./header") %>
<nav>
    <a href="/">Home</a>
    |
    <a href="/teams">Teams</a>
    |
    <% if (user) { %>
    <a href="/new">Create</a>
    |
    <a href="/users/<%= user.id %>">My Teams</a>
    |
    <a href="/logout">Log Out</a>
    <% } else { %>
    <a href="/auth/google">Log In
        <img src="https://i.imgur.com/FHjYyi0.png">
    </a>
    <% } %>
</nav>
<h3><%= title %></h3>