<%- include("./partials/nav") %>

<p>
    This is my experimental Pokemon Team Builder app.
    This is a full-stack development project using Node.js, Express, and Mongoose.
    <br>
    To get started, you can browse the Teams page to see recently created teams,
    or log in with your Google account to get started making teams of your own!
</p>

<%- include("./partials/footer") %>