* {
    box-sizing: border-box;
    font-family: Helvetica;
  }

  body {
    background-color: darkgray;
    color: black;
    padding: 0 0 2vmin 2vmin;
  }

  a > img {
    height: 3vh;
    margin-left: .5vmin;
}

nav {
  padding-top: .5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

nav > a {
  margin: 1vmin;
  display: flex;
  align-items: center;
}

span {
  font-size: 1.5vmin;

}

.team-index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}